{
  "root": true,
  "parser": "babel-eslint",
  "plugins": ["babel", "flowtype", "import", "promise", "standard"],
  "extends": [
    "eslint:recommended",
    "standard",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/standard"
  ],
  "rules": {
    "no-console": "off",

    "array-callback-return": "error",
    "default-case": "error",
    "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
    "require-await": "error",

    "camelcase": ["error", {"properties": "always"}],
    "new-parens": "error",
    "no-floating-decimal": "error",
    "one-var": ["error", "never"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", {"destructuring": "all"}],
    "prefer-spread": "error",
    "quotes": ["error", "single", {"avoidEscape": false, "allowTemplateLiterals": true}],

    "flowtype/require-valid-file-annotation": ["error", "never", {"annotationStyle": "block"}],
    
    "import/extensions": ["error", {"js": "never", "json": "always", "png": "always"}],
    "import/no-unresolved": ["error", {"commonjs": true, "ignore": ["\\.png$"]}]
  }
}
