{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": false
  },
  "plugins": ["react", "jsx-a11y"],
  "extends": ["standard-jsx", "plugin:react/recommended", "plugin:jsx-a11y/recommended"],
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "react/no-unescaped-entities": ["error", {"forbid": [">", "}"]}],
    "react/prop-types": "off"
  },
  "overrides": [
    {
      "files": ["config/**/*.js"],
      "env": {
        "node": true
      }
    }
  ]
}
